{% extends "./base.html" %}

{% block content %}
<style>
    .work-session-card {
        margin-top: 20px;
    }
    .work-session-content {
        padding: 15px;
    }
</style>
<div class="w3-row-padding">
    {% for session in sessions %}
    <div class="w3-col s12 m4 l2">
        <div class="w3-card work-session-card ">
            <header class="w3-container w3-light-grey">
                <h3><a href="{{ url_for('assignmentdata',assignment_key=key, start=session.start_time, end=session.end_time) }}">Work Session {{ session.index }}</a></h3>
            </header>
            <div class="w3-container work-session-content">
                <b>Begin:</b> {{ session.start_time }}<br>
                <b>End :</b> {{ session.start_time }}<br>
                <b>Events :</b><br>
                <ul class="w3-ul" >
                {% for sus in session.sus %}
                    <li class="w3-small w3-padding-small">{{ sus }}</li>
                {% endfor %}
                </ul>
            </div>
    
        </div>
    </div>
    {% endfor %}
</div>

<!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> --> 

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.0/chart.umd.js" integrity="sha512-6HrPqAvK+lZElIZ4mZ64fyxIBTsaX5zAFZg2V/2WT+iKPrFzTzvx6QAsLW2OaLwobhMYBog/+bvmIEEGXi0p1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/3.0.1/chartjs-plugin-annotation.min.js" integrity="sha512-Hn1w6YiiFw6p6S2lXv6yKeqTk0PLVzeCwWY9n32beuPjQ5HLcvz5l2QsP+KilEr1ws37rCTw3bZpvfvVIeTh0Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@^1"></script>



<canvas id="myChart" width="800" height="200"></canvas>



<script>
    const dataJson = {{ data|tojson }};
   
    console.log(dataJson) 

    const labels = dataJson.map(item => moment(item.time));


    const datasets = [];
    
    for (const key in dataJson[0]) {
        if (key !== 'time' && key !== 'length') {
            const dataset = {
                label: key,
                data: dataJson.map(item => item[key]),
                yAxisID: 'y-line'  
            };
            datasets.push(dataset);
        }
        if (key !== 'time' && key == 'length') {
            const dataset = {
                label: key,
                data: dataJson.map(item => item[key]),
                type: 'line',
                yAxisID: 'y-scatter'
            };
            datasets.push(dataset);
        }
    }

    console.log(datasets) 
    console.log(labels) 

    const ctx = document.getElementById('myChart').getContext('2d');
    new Chart(ctx, {
        type: 'scatter',
        data: {
            labels: labels,
            datasets: datasets
        },
        options: {
            animation: {
                duration: 0
            },
            scales:{      
    
                 'y-line': { // Define the first y-axis for the line dataset
                    type: 'linear',
                    display: true,
                    position: 'left',
                },
                'y-scatter': { // Define the second y-axis for the scatter dataset
                    type: 'linear',
                    display: true,
                    position: 'right',
                    // Ensures that this axis does not use the same grid lines as the first y-axis
                    grid: {
                        drawOnChartArea: false,
                    },
                }, 
                  x: {
                    display: true,
                    type: 'time',
                    time: {
                        unit: 'minute',
                        stepSize: 60,
                        displayFormats: {
                            minute: 'MM/DD hA',
                            hour: 'MM/DD hA',
                        },
                    },
                },
                 
            },
            //maintainAspectRatio: false,
            responsive: true,
            
            title: {
                display: true,
                text: 'Edit History'
            },
            plugins:{
                annotation:{
                    //annotations:this.boxes
                }
            }
        },
        
    });
</script>



{% endblock %}